html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: work sans, sans-serif;
  background-image: url(./assets/images/background-pattern-desktop.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #f9eeff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: hsl(292, 42%, 14%);
}

.accordion {
  background-color: hsl(0, 0%, 100%);
  padding: 4rem;
  border-radius: 10px;
  width: 65rem;
  padding-bottom: 2rem;
  height: 60vh;
}

.title {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  margin-bottom: 3rem;
}

.title-text {
  font-size: 4.8rem;
  font-weight: 700;
}

.title-icon {
  height: 3.6rem;
}

.item {
  border-bottom: 1px solid hsl(275, 100%, 97%);
  padding: 2rem 0;
}

.item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  /* margin-bottom: 2rem; */
}

.item:last-child {
  border-bottom: none;
}

.text {
  font-size: 1.8rem;
  font-weight: 600;
  transition: 0.3s;
}

.text:hover {
  cursor: pointer;
  color: #ad28eb;
}

.icon:hover {
  cursor: pointer;
}

.item-content {
  font-size: 1.6rem;
  color: hsl(292, 16%, 49%);
  letter-spacing: 0.5px;
  line-height: 1.5;
  /* display: none; */
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease-in;
  /* max-height: 0; /* Collapsed state */
  /* overflow: hidden; /* Hides content when collapsed */
  /* transition: max-height 2s ease-in-out; /* Animates height change */
}


/*425px/16 = 27em*/
@media (max-width: 27em) {
  html {
    /* 8px/16 */
    font-size: 50%;
  }
  body {
    background-size: 300%;
  }

  .accordion {
    width: 90%;
    padding: 2.4rem 3rem;
    padding-bottom: 1rem;
  }
  .title {
    margin-bottom: 1.8rem;
  }
  .item {
    padding: 2rem 0;
  }
}
